body {
    font-family: "Montserrat", sans-serif; 
    overflow: hidden;
    margin: 0;
}

.main {
    display:flex;
    height: 100vh;
}

.unknown{
    background-color: #FBFFF4;
}

.sidebar {
    width: 280px;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

.logo p {
    font-size: 1.5rem;
    color: #c0f497;
    color: #9eeb47;
    color: #0e9342;
    color: #7bbf39;
    padding: 0;
    padding-top: 5px;
    margin-left: 5px;
    font-weight: 700;
}

.logo img{
    height: 35px;
}

.main-content {
    background-color: #f6f6f6;
    flex: 1;
    overflow: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    padding-bottom: 2rem;
}

.footer {
    background-color: #9eeb47;
    background-color: #0e9342;
    background-color: #7bbf39;
    bottom: 0;
}

.options ul{
    list-style-type: none;
    color: #bbbbbb;
    font-size: 1rem;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}

.options ul li{
    border-bottom: 1px solid grey;
    line-height: 2.5;
    color: grey;
    opacity: 0.9;
    cursor: pointer;
}

.options ul li:hover{
    opacity: 1;
    color: grey;
    font-weight: 500;
}

.options ul li i{
    padding: 0 2rem 0 4rem;
    width: 16px;
    height: 16px;
    opacity: 0.9;
}

.options ul li i:hover{
    opacity: 1;
}

.help-center{
    max-width: 240px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: .5rem;
    margin: auto;
    padding: auto;
    background-image: url(./images/download.png);
    background-size: contain;

}

.help-center h1{
    text-align: center;
    font-size: 1.3rem;
}

.help-center p{
    text-align: center;
    color: white;
    font-size: 1rem;
}

.button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 24px;
    border-radius: .5rem;
    text-align: center;
    margin: auto;
    text-decoration: none;
    font-size: 16px;
  }

.profile img{
    height: 40px;
    margin: 6px;
    width: 40px;
    margin-right: 1rem;
    border-radius: .5rem;
}

.notifications{
    height: 40px;
    border-radius: .5rem;
    margin: 6px;
    width: 40px;
    background-color: white;
}

.notifications i{
    font-size: 28px;
    color: #9eeb47;
    color: #7bbf39;
    text-align: center;
    padding: 6px;
}

.welcome{
    line-height: .3;
    padding-left: 1rem;
}

.search-container{
    margin-left: auto;
    border: none;
    cursor: pointer;
    background-color: white;
    border-radius: .5rem;
}

.search-container form{
    padding: 8px;
    border: none;
    min-width: 280px;
}

.search-container form input{
    background-color: white;
    border: none;
    padding: 5px;
    min-width: 380px;
}

.search-container form button{
    background-color: white;
    border: none;
    font-size: 1rem;
}

.container{
    background-color: #9eeb47;
    background-color: #f8f9fb;
}

.container img{
    width: 540px;
    border-radius: 1rem;
    margin: 1rem;
}