body{
    margin: 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    height: 75px;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}

.navbar .logo{
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
}

.logo img{
    height: 35px;
}

.navbar .logo p{
    color: #0e9342;
    font-weight: 700;
}

.headings{
    justify-content: end;
}

.main-content{
    background-color: #0e9342;
    height: 93vh;
}

.main-content p{
    color: white;
    font-size: 3rem;
    font-weight: 800;
}

.front-page{
    display: flex;
}

.column{
    width: 40%;
    height: 100vh;
    background-color: #0e9342;
}

.column2{
    width: 50%;
    height: 100vh;
    z-index: 5;
}

.waves{
    width: 10%;
    display: block;
    position: absolute;
    right: calc(90% + 1px);
    top: 0;
    z-index: 100;
}

.column2 img{
    width: 100%;
    overflow: hidden;
    padding: 0;
    z-index: 6;
    height: 100vh;
    object-fit: cover;
    margin: 0;
}